.card-accord-cont {
	position: relative;
}

.card-elem {
	height: 433px;
	background: #FFFFFF;
	border: 1px solid #4EC8F0;
	box-sizing: border-box;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 10px;
	position: relative;
	
	transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
}

.icon {
	position: absolute;
	right: 10px;
	top: 3px;
}

.card-accord-content {
	height: 365px;
	/* opacity: 0;
	visibility: hidden; 
	overflow: hidden;*/
	display: none;
	position: relative;
}

.showcontent {
	display: block;
	/* opacity: 1;
	visibility: visible; */
	transition: all 0.3s 0.3s ease-out;
    -o-transition: all 0.3s 0.3s ease-out;
    -moz-transition: all 0.3s 0.3s ease-out;
    -webkit-transition: all 0.3s 0.3s ease-out;
	
}

.card-title-label {
	font-size: 20px;
	color: #C6C6C6;
	float: right;
}

.updatedon {
	font-size: 9px;
	color: #646464;
	float: left;
	padding-top: 7px;
}

.card-title {
	text-align: right;
}

.fixed-content {
	position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
	cursor: pointer;
}

.accordclose {
	height: 58px;
	
	transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
}

.content-textarea {
	width: 100%;
    box-sizing: border-box;
    height: 100%;
    font-size: 12px;
    font-family: lato;
    border: none;
	background: none;
	resize: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.content-textarea::placeholder {
	font-style: italic;
}

.flip-container {
	perspective: 1000px;
}

.flip-container {
	width: 100%;
	height: 433px;
	
	transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
}

.flipcard1, .flipcard2 {
	width: 100%;
	height: 100%;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
	height: 100%;
}

.flipcard1, .flipcard2 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.flipcard1 {
	z-index: 2;
	transform: rotateY(0deg);
}

.flipcard2 {
	transform: rotateY(180deg);
}

.flipcontclose {
	height: 39px;
	transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -moz-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
}



.card-title-label-cont {
	display: inline-block;
	vertical-align: middle;
	
}

.selected-brc-col {
	display: inline-block;
    width: 7px;
    height: 7px;
    background: #B48CF6;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 100px;
}

.card-label-flipside {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #C6C6C6;
	float: left;
}

.flipside-done-btn {
	border: 1px solid #4EC8F0;
	box-sizing: border-box;
	border-radius: 1px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #4EC8F0;
	text-transform: uppercase;
	float: right;
	margin-top: 3px;
	padding: 5px 10px;
	cursor: pointer;
}

.goalEditSection {
	box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	padding: 10px;
}

.optn_title {
	font-size: 11px;
    color: #333333;
    cursor: pointer;
    margin-bottom: 3px;
    box-sizing: border-box;
}

.optn_title:first-child {
	margin-top: 2px;
}

.optn_title span {
	padding: 2px 3px 3px;
}


.ddlabel {
	float: left;
	width: 73%;
	box-sizing: border-box;
	background: #F0F0F0;
	border: 0.5px solid transparent;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 2px 5px;

}

.selectedOptn {
	border: 0.5px solid #4EC8F0;
}

.duration {
	float: right;
	text-align: right;
	width: 20%;
	background: #F0F0F0;
	border: 0.5px solid transparent;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 2px 5px;
}

.duration-selected {
	color: #4EC8F0;
	border: 0.5px solid #4EC8F0;
}

.clear {
	clear: both;
}

.drpdn-title-label {
	display: inline-block;
    vertical-align: middle;
    background: #F0F0F0;
    border: 0.5px solid #4EC8F0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 3px 10px;
}

.drpdn-arrow {
	display: inline-flex;
	width: 10px;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}

.remove-icon {
	width: 5%;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 18px;
    align-items: center;
    cursor: pointer;
}

.txtime-label {
	float:left;
	text-align: right;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 13px;
	color: #646464;
	width: 73%;
}

.stps-input {
	width: 100%;
	height: 100%;
	padding: 0 5px;
	border: none;
	background: none;
	font-family: Lato;
	font-style: normal;
	font-size: 11px;
	line-height: 13px;
	color: #646464;
}

.fixed-content-top {
	position: relative;
    /* left: 0;
    top: 10px; */
    width: 100%;
    /* padding: 0 10px; */
    box-sizing: border-box;
	margin-bottom: 10px;
}

