<div class="component-cont">
    <div class="component-title">Create Event</div>
	
	<div class="closeBtn" (click)="cancelModal()">
		<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect x="13.5" width="2.12119" height="19.0907" transform="rotate(45 13.5 0)" fill="#333333"/>
			<rect y="1.50195" width="2.12119" height="19.0907" transform="rotate(-45 0 1.50195)" fill="#333333"/>
		</svg>
	</div>
    
    <div class="comp-content">
      <div class="content-section">
          <span class="timeslots">Start time</span>
          <div class="add-new-patient float-left">
            
              <input value="08:00" type="text" class="procedure-time"/>
              <div (click)="changetimeslot()" class="procedure-time1 timeslotchange">{{timeslot_text}}</div>
          </div>

        <div class="search-section float-left">
          <div class="search-input" style="width: calc(100% - 63px)">
            <input type="text" placeholder="Event title..." />
          </div>
        </div>
        <div class="clear"></div>
      </div>



      <div class="content-section">
          <div class="search-section float-left">
            <div class="search-icon" (click)="showallEventList(count_EventList)">
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.62817 1.78485C5.95247 0.108175 3.22516 0.108175 1.54947 1.78485C-0.125864 3.46189 -0.125864 6.19043 1.54947 7.86747C2.91259 9.23106 4.96983 9.4825 6.59207 8.62733C6.81247 8.51114 7.10986 8.63408 7.28598 8.8103L9.72632 11.2521C10.0819 11.6072 10.6566 11.6072 11.0104 11.2521C11.3657 10.8966 11.3657 10.3216 11.0104 9.96722L8.57008 7.52472C8.39396 7.34899 8.27118 7.05219 8.3872 6.83211C9.24308 5.20852 8.99191 3.14973 7.62817 1.78485ZM6.8577 7.09656C5.60665 8.34834 3.57061 8.34834 2.31993 7.09656C1.06961 5.84478 1.06961 3.80791 2.31993 2.55613C3.57061 1.30471 5.60665 1.30471 6.8577 2.55613C8.10875 3.80791 8.10875 5.84478 6.8577 7.09656Z" fill="#6BD3F4"/>
              </svg>
            </div>
            <div class="search-input" style="width: calc(100% - 63px)">
              <input type="text" [(ngModel)]="code" placeholder="Event code..." (keyup)="createeventSearchList($event.target.value)"  />
            </div>
           
             <div class="procedure-optn-cont" *ngIf="showSearchOptions == true && searchResult.length != 0 " [ngStyle]="{'height': (40*searchResult.length) + 'px'}">
                <perfect-scrollbar>
  
                    <div class="procedure-item" *ngFor="let searchResultone of searchResult" (click)="selecteventtime(searchResultone.time, searchResultone.code)">
                    <div class="procedure-code">{{searchResultone.code}}</div>
                    <div class="procedure-label">{{searchResultone.label}}</div>
                    <div class="procedure-span">{{searchResultone.time}}</div>
                    <div class="clear"></div>
                    </div>
  
                </perfect-scrollbar>
              </div>
  
          </div>
          <div class="add-new-patient1 float-left">
         
            <div class="procedure-time1"> {{eventtime}}</div>
            <div class="procedure-time">Minutes</div>
          </div>
          
          <div class="clear"></div>
        </div>
        
      <div class="content-section">
        <div class="search-section add-note">
          <textarea placeholder="Notes: "></textarea>
        </div>
          <div class="calender-section">
              <div class="prev-week-icon" (click)="nextPrevWeek('prev')" *ngIf="showPrevWeekBtn">
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.9623 5.41099L11.7879 1.40834C12.0712 1.11185 12.0712 0.667109 11.7879 0.22237C11.5045 -0.0741232 11.0794 -0.0741232 10.6544 0.22237L6.51236 4.51581C6.22899 4.66406 6.12036 5.26275 6.12036 5.41099C6.12036 5.55924 6.22899 6.00968 6.51236 6.15793L10.6544 10.4514C10.9377 10.7479 11.5045 10.7479 11.7879 10.4514C12.0712 10.1549 12.0712 9.71014 11.7879 9.2654L7.9623 5.41099Z" fill="#C4C4C4"/>
                  <path d="M1.84194 5.41099L5.66749 1.40834C5.95087 1.11185 5.95087 0.667109 5.66749 0.22237C5.38412 -0.0741232 4.95906 -0.0741232 4.534 0.22237L0.392002 4.51581C0.108627 4.66406 0 5.26275 0 5.41099C0 5.55924 0.108627 6.00968 0.392002 6.15793L4.534 10.4514C4.81737 10.7479 5.38412 10.7479 5.66749 10.4514C5.95087 10.1549 5.95087 9.71014 5.66749 9.2654L1.84194 5.41099Z" fill="#C4C4C4"/>
                </svg>
              </div>
              
              <div class="calender-label">{{currentWeek}}</div>
              
              <div class="next-week-icon" (click)="nextPrevWeek('next')" *ngIf="showNextWeekBtn">
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.0377 5.26283L0.212144 9.26549C-0.0712308 9.56198 -0.0712308 10.0067 0.212144 10.4515C0.495519 10.748 0.920581 10.748 1.34564 10.4515L5.48764 6.15802C5.77101 6.00977 5.87964 5.41108 5.87964 5.26284C5.87964 5.11459 5.77101 4.66415 5.48764 4.5159L1.34564 0.222457C1.06227 -0.0740352 0.495519 -0.0740352 0.212145 0.222457C-0.0712301 0.51895 -0.0712302 0.963689 0.212145 1.40843L4.0377 5.26283Z" fill="#C4C4C4"/>
                  <path d="M10.1581 5.26283L6.33251 9.26549C6.04913 9.56198 6.04913 10.0067 6.33251 10.4515C6.61588 10.748 7.04094 10.748 7.466 10.4515L11.608 6.15802C11.8914 6.00977 12 5.41108 12 5.26284C12 5.11459 11.8914 4.66415 11.608 4.5159L7.46601 0.222457C7.18263 -0.0740352 6.61588 -0.0740352 6.33251 0.222457C6.04913 0.51895 6.04913 0.963689 6.33251 1.40843L10.1581 5.26283Z" fill="#C4C4C4"/>
                </svg>
              </div>
            </div>

              <div class="office-section">
                <div class="office-label" (click)="selectOffice()">{{selectedOffice}}</div>
                <div class="office-options" *ngIf="showOfficeDd">
                  <div class="office-item" *ngFor="let officeitem of officeArr" (click)="selectOfficeOption(officeitem)">{{officeitem.office}}</div>
                </div>
              </div>
              
        <!----<div class="office-section">Salt Lake City</div>-->
      </div>


      <div class="select-chair"> Select Chairs</div>
        <div class="content-section">
          <div *ngFor="let chairone of chairArray; let indx=index">
              <div [ngClass]="{'chair-text': true, 'dd-selected': chairone.selected}" (click)="selectchair(indx)" *ngIf="indx==0" ><span>{{chairone.chair_name}}</span> </div>
              <div [ngClass]="{'chair-text2': true, 'dd-selected1': chairone.selected}" (click)="selectchair(indx)" *ngIf="indx!=0"><span>{{chairone.chair_name}}</span></div>
          </div>
        </div>
        <div (click)="selectchairAll(chairArray, selectallchairchk)" class="select-all-chair">Select all chairs</div>
        <div (click)="scheduled()" class="create-event"><span>Create Event</span></div>
    </div>
  </div>
  