<div class="pagetitle">OFFICE & USER INFORMATION</div>
<div fxLayout="column">
	<div fxLayout="row" fxLayoutGap="15px">
		<div fxFlex="385px">
			<div class="section-cont">
				<div class="section-title">OFFICES</div>
				<div class="inner-cont">
					<div class="section-dd-cont">
						
						<div class="plus-btn">
							<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect x="4.5" width="1" height="10" rx="0.5" fill="#434343"/>
								<rect y="5.5" width="1" height="10" rx="0.5" transform="rotate(-90 0 5.5)" fill="#434343"/>
							</svg>
						</div>
						<div class="dd-btn">
							<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3.96363 5.25L0.49953 -1.28846e-07L7.42773 4.76837e-07L3.96363 5.25Z" fill="#4EC8F0"/>
							</svg>
						</div>
						
						<div class="dd-item">
							<div class="dd-item-label left-cont">Stonehaven Dental</div>
							<div class="dd-item-label right-cont">Salt Lake City, UT</div>
							<div class="clear"></div>
						</div>
						
						<div class="dd-item">
							<div class="dd-item-label left-cont">Stonehaven Dental</div>
							<div class="dd-item-label right-cont">Lehi, UT</div>
							<div class="clear"></div>
						</div>
						
						<div class="dd-item">
							<div class="dd-item-label left-cont">Stonehaven Dental</div>
							<div class="dd-item-label right-cont">Provo, UT</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div fxFlex="703px">
			<div class="section-cont">
				<div class="section-title">USERS</div>
				<div class="inner-cont" style="padding-left: 25px; position: relative;">
					
					<div class="plus-btn" style="top: 16px; left: 7px;">
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<rect x="4.5" width="1" height="10" rx="0.5" fill="#434343"/>
							<rect y="5.5" width="1" height="10" rx="0.5" transform="rotate(-90 0 5.5)" fill="#434343"/>
						</svg>
					</div>
					
					<div class="user-item blue">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Ariel Smith</div>
						<div class="user-item-element user-email">ariel@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Clinical Assistant</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item blue">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Mary Mitchell</div>
						<div class="user-item-element user-email">mary@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Clinical Assistant</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item blue">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Gerald Klein</div>
						<div class="user-item-element user-email">gerald@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Clinical Assistant</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item blue">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Gerald Klein</div>
						<div class="user-item-element user-email">gerald@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Financial Coordinator</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item orange">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Brian Jones</div>
						<div class="user-item-element user-email">brian@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Front Desk</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item orange">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Joshua Moss</div>
						<div class="user-item-element user-email">Josh@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Front Desk</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item red">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Derrick Betterman</div>
						<div class="user-item-element user-email">derrick@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Marketing Coordinator</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item purple">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Stephanie Myers</div>
						<div class="user-item-element user-email">
							<div class="innerfloat-left">stephanie@stonehavendental.com </div>
							<div class="innerfloat-right">
								<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="5" cy="5" r="5" fill="#4EC8F0"/>
									<path d="M5.93535 5.138L5.14785 3.0975C5.12451 3.03683 5.10001 2.96683 5.07435 2.8875C5.04868 2.80583 5.02418 2.7195 5.00085 2.6285C4.95185 2.8175 4.90168 2.975 4.85035 3.101L4.06285 5.138H5.93535ZM7.34935 7H6.82435C6.76368 7 6.71468 6.98483 6.67735 6.9545C6.64001 6.92417 6.61201 6.88567 6.59335 6.839L6.12435 5.628H3.87385L3.40485 6.839C3.39085 6.881 3.36401 6.91833 3.32435 6.951C3.28468 6.98367 3.23568 7 3.17735 7H2.65235L4.65785 1.9845H5.34385L7.34935 7Z" fill="white"/>
								</svg>
							</div>
						</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Office Manager</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item tarkish">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Dr. Kate Kramps</div>
						<div class="user-item-element user-email">
							<div class="innerfloat-left">kate@stonehavendental.com </div>
							<div class="innerfloat-right">
								<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="5" cy="5" r="5" fill="#4EC8F0"/>
								<path d="M5.93535 5.138L5.14785 3.0975C5.12451 3.03683 5.10001 2.96683 5.07435 2.8875C5.04868 2.80583 5.02418 2.7195 5.00085 2.6285C4.95185 2.8175 4.90168 2.975 4.85035 3.101L4.06285 5.138H5.93535ZM7.34935 7H6.82435C6.76368 7 6.71468 6.98483 6.67735 6.9545C6.64001 6.92417 6.61201 6.88567 6.59335 6.839L6.12435 5.628H3.87385L3.40485 6.839C3.39085 6.881 3.36401 6.91833 3.32435 6.951C3.28468 6.98367 3.23568 7 3.17735 7H2.65235L4.65785 1.9845H5.34385L7.34935 7Z" fill="white"/>
								</svg>
							</div>
							<div class="clear"></div>
						</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Primary Doctor</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item tarkish">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Dr. Brian Carter</div>
						<div class="user-item-element user-email">
							<div class="innerfloat-left">brian@stonehavendental.com</div>
							<div class="innerfloat-right">
								<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="5" cy="5" r="5" fill="#4EC8F0"/>
									<path d="M5.93535 5.138L5.14785 3.0975C5.12451 3.03683 5.10001 2.96683 5.07435 2.8875C5.04868 2.80583 5.02418 2.7195 5.00085 2.6285C4.95185 2.8175 4.90168 2.975 4.85035 3.101L4.06285 5.138H5.93535ZM7.34935 7H6.82435C6.76368 7 6.71468 6.98483 6.67735 6.9545C6.64001 6.92417 6.61201 6.88567 6.59335 6.839L6.12435 5.628H3.87385L3.40485 6.839C3.39085 6.881 3.36401 6.91833 3.32435 6.951C3.28468 6.98367 3.23568 7 3.17735 7H2.65235L4.65785 1.9845H5.34385L7.34935 7Z" fill="white"/>
								</svg>
							</div>
						</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Doctor</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item red">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Peter Barron</div>
						<div class="user-item-element user-email">peter@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Treatment Coordinator</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item red">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Hailey Rose</div>
						<div class="user-item-element user-email">hailey@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Treatment Coordinator</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
					<div class="user-item red">
						<div class="user-item-element user-img"></div>
						<div class="user-item-element user-name">Louis Childs</div>
						<div class="user-item-element user-email">louis@stonehavendental.com</div>
						<div class="user-item-element user-desig">
							<div class="drpdn-icon">
								<svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M4.00074 6L0.53664 0.75L7.46484 0.75L4.00074 6Z" fill="#4EC8F0"/>
								</svg>
							</div>
							<div class="drpdn-label">Treatment Coordinator</div>
						</div>
						<div class="remove-btn">
							<svg viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.67605 1.31867L3.16708 2.82763L4.76939 4.42994L3.98768 5.21164L2.38538 3.60934L0.884189 5.11053L0.172486 4.39882L1.67367 2.89763L0.0791477 1.30311L0.860854 0.521402L2.45538 2.11593L3.96435 0.606962L4.67605 1.31867Z" fill="#333333"/>
							</svg>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>