<div class="selectedbracket">
	<div class="selected-brcktItem-cont" *ngFor="let selectedItem of selectedBracktColr">
		<div class="selected-brcktItem-col" [ngStyle]="{'background': selectedItem.color}"></div>
		<div class="selected-brcktItem-label">{{selectedItem.label}}</div>
	</div>
</div>

<div class="bracket-dropdown-cont">
	<div class="drpdn-label-cont" (click)="showBracketDdr=showBracketDdr==true ? false : true">
		<!-- <div class="bracket-col" [ngStyle]="{'background': selectedBracket.color}"></div>
		<div class="drpdn-label">{{selectedBracket.label}}</div> -->
		<div class="drpdn-label">Bracket list</div>
		<div class="down-arr">
			<svg width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2.5 4L0.334936 0.25L4.66506 0.25L2.5 4Z" fill="#4EC8F0"/>
			</svg>
		</div>
	</div>
	
	<div class="backet-drpdn-options" *ngIf="showBracketDdr">
		<div class="drpdn-option" *ngFor="let item of bracketArr; let indx=index" (click)="selectBracket(indx)" [ngStyle]="{'background': item.selected == true ? '#f0f0f0' : 'transparent', 'border-color': item.selected == true ? '#4EC8F0' : 'transparent'}">
			<div class="bracket-col" [ngStyle]="{'background': item.color}"></div>
			<div class="drpdn-label">{{item.label}}</div>
		</div>
		
		<div class="drpdn-option" style="cursor: pointer;">
			<div class="add-new" *ngIf="!addnewBrckt" (click)="addnewBrckt=true">+ New bracket type</div>
			<ng-container *ngIf="addnewBrckt">
				<div class="add-new-title-cont">
					<div class="bracket-selected-colr" [ngStyle]="{'background-color': this.addnew_selected}"></div>
					<div class="add-new-title"><input type="text" placeholder="Bracket title" [(ngModel)]="newbracketlabel"/></div>
					<div class="add-btn" (click)="addnewbrcktToList()">
						<svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.316429 3.81H2.45043V6.076H3.55593V3.81H5.67893V2.8035H3.55593V0.548499H2.45043V2.8035H0.316429V3.81Z" fill="#4EC8F0"/>
						</svg>
					</div>
				</div>
				<div class="bracket-option">
					<div class="braket-color-item" *ngFor="let coloritem of newBracketColorArr; let indx=index" (click)="selectBrcktColor(indx)" [ngStyle]="{'border-color': coloritem.selected==true ? '#646464' : 'transparent'}">
						<div class="braket-color-item-inner" [ngStyle]="{'background': coloritem.color}"></div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>

<div class="teeth-selector-cont">
	<div class="all-btn" (click)="selectallTeeth(true)">All</div>
	<div class="teeth-selector-box">
		<div class="top-section">
			<div class="teeth-selector-leftside border-right">
				<div class="teethnum" *ngFor="let teethItem of braketTeethArr[0].teethelem; let indx=index" (click)="selectTeeth(0, indx)" [ngStyle]="{'color': teethItem.brackettype}">{{teethItem.label}}</div>
			</div>
			<div class="teeth-selector-rightside">
				<div class="teethnum" *ngFor="let teethItem of braketTeethArr[1].teethelem; let indx=index" (click)="selectTeeth(1, indx)" [ngStyle]="{'color': teethItem.brackettype}">{{teethItem.label}}</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="bottom-section">
			<div class="teeth-selector-leftside border-right">
				<div class="teethnum" *ngFor="let teethItem of braketTeethArr[2].teethelem; let indx=index" (click)="selectTeeth(2, indx)" [ngStyle]="{'color': teethItem.brackettype}">{{teethItem.label}}</div>
			</div>
			<div class="teeth-selector-rightside">
				<div class="teethnum" *ngFor="let teethItem of braketTeethArr[3].teethelem; let indx=index" (click)="selectTeeth(3, indx)" [ngStyle]="{'color': teethItem.brackettype}">{{teethItem.label}}</div>
			</div>
		</div>
	</div>
</div>