<div class="patientdialog">
  <div class="closeBtn" (click)="cancelModal()">
      <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="13.5" width="2.12119" height="19.0907" transform="rotate(45 13.5 0)" fill="#333333"/>
          <rect y="1.50195" width="2.12119" height="19.0907" transform="rotate(-45 0 1.50195)" fill="#333333"/>
      </svg>
  </div>
  
    <!-- <app-doctor-referral-in *ngIf="showsection=='doctorRefIn'" [doctordetailsArr]="doctordetailsArr" [subscriptionArray]="subscriptionArray" [subscriptionDoctorArray]="subscriptionDoctorArray"  (saveDoctorArray)=saveDoctorArray($event)></app-doctor-referral-in>
	
	
    <app-doctor-referral-out *ngIf="showsection=='doctorRefOut'" [doctordetailsArrForOut]="doctordetailsArrForOut" [subscriptionArray]="subscriptionArray" [subscriptionDoctorArray]="subscriptionDoctorArray" (saveDoctorOutArray)=saveDoctorOutArray($event)></app-doctor-referral-out> -->
	
	<app-doctor-location (saveDoctorArray)="saveDoctorArray($event)"></app-doctor-location>
	
	
  </div>
  
  
  
    
    