ul {
	list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.pagetitle {
	font-size: 40px;
	color: #4EC8F0;
	letter-spacing: 8px;
	margin-bottom: 15px;
}

.section-cont {
	width: 100%;
	height: 655px;
	padding: 15px;
	box-sizing: border-box;
	background: #E5E5E5;
}

.section-title {
	margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    color: #646464;
    letter-spacing: 3px;
}

.inner-cont {
	width: 100%;
	height: calc(100% - 30px);
	background: #FFFFFF;
	border-radius: 4px;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.orginfo {
	font-size: 12px;
	color: #646464;
	background: #F0F0F0;
	padding: 5px 10px;
	box-sizing: border-box;
	border-radius: 2px;
	margin-bottom: 10px;
	position: relative;
}

.org-code {
	float: left;
}

.org-name {
	float: right;
	text-align: right;
}

.clear {
	clear: both;
}

.org-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 25px;
	background: transparent;
	cursor: pointer;
}

.detailed-info {
	overflow: hidden;
}

.detailed-info-item {
	margin-bottom: 5px;
}

.active {
	font-size: 12px;
	color: #4EC8F0;
	margin-top: 20px;
}

.notes {
	margin-top: 20px;
}

.phNum, .ext {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.plus-btn {
	position: absolute;
	bottom: -5px;
	right: 0;
}

.marginbottom {
	margin-bottom: 5px;
}

.scroll-cont {
	height: calc(100% - 35px);
	margin-bottom: 15px;
}

.input-cont input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
	background: transparent;
}

.input-cont input::placeholder {
	font-size: 12px;
	color: #A5A5A5;
	font-family: 'Lato', sans-serif;
}

.ada-code-input {
	padding-right: 15px;
	position: relative;
}

.add-btn {
	position: absolute;
	right: -6px;
    top: 4px;
}
.doc-name {
	float: left;
}

.doc-desg {
	float: right;
	text-align: right;
}

.info-label {
	font-size: 7px;
	color: #333333;
	display: inline-block;
	width: 60px;
}

.info-txt {
	display: inline-block;
	width: calc(100% - 60px);
	background: #FFFFFF;
	border-radius: 2px;
	padding: 3px 5px;
	box-sizing: border-box;
}

.doc-info-item {
	margin-bottom: 8px;
}

.doc-info-item:last-child {
	margin-bottom: 0;
}

.career-input {
	font-size: 12px;
	color: #646464;
}

.left-col {
	width: 50%;
	box-sizing: border-box;
	padding-right: 5px;
	display: inline-block;
	vertical-align: top;
}

.right-col {
	width: 50%;
	box-sizing: border-box;
	padding-left: 5px;
	display: inline-block;
	vertical-align: top;
}

.career-input {
	font-size: 12px;
	color: #646464;
	background: #F0F0F0;
	border-radius: 2px;
}

.career-input input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	padding: 3px 8px;
	box-sizing: border-box;
}

.career-input textarea {
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	padding: 3px 8px;
	background: transparent;
	border: none;
	resize: none;
}

.career-input input::placeholder, .career-input textarea::placeholder {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #646464;
}

.career-input-item {
	margin-bottom: 8px;
}

.ext {
	width: 40px;
	background: #F0F0F0;
	border-radius: 2px;
}

.ext input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	padding: 3px 8px;
	box-sizing: border-box;
}

.ext input::placeholder {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #646464;
}

/* ---- flip animation css----- */

.flip-container {
	perspective: 1000px;
}

.flip-container {
	width: 100%;
	height: 100%;
}

.card1, .card2 {
	width: 100%;
	height: 100%;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	width: 100%;
	height: 100%;
}

.card1, .card2 {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.card1 {
	z-index: 2;
	transform: rotateY(0deg);
}

.card2 {
	transform: rotateY(180deg);
}