<div class="paymnt-item">
	<div class="paymnt-item-label">Start Date</div>
	<div class="paymnt-item-value">
		<input placeholder="11/10/2018" value="11/10/2018" [matDatepicker]="payscheduleDate" (click)="payscheduleDate.open()"/>
		<mat-datepicker #payscheduleDate></mat-datepicker>
	</div>
</div>

<div class="paymnt-item">
	<div class="paymnt-item-label">Amount</div>
	<div class="paymnt-item-value"><input placeholder="200" value="200" /></div>
</div>

<div class="paymnt-item">
	<div class="paymnt-item-label">Down Payment</div>
	<div class="paymnt-item-value"><input placeholder="1400" value="1400" /></div>
</div>

<div class="paymnt-item">
	<div class="paymnt-item-label">x Months</div>
	<div class="paymnt-item-value"><input placeholder="13" value="13" /></div>
</div>

<div class="paymnt-breakup-cont">
	<div class="paymnt-breakup">
		<div class="paymnt-breakup-label">11/10/2018</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup even">
		<div class="paymnt-breakup-label">12/10/2018</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup">
		<div class="paymnt-breakup-label">01/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup even">
		<div class="paymnt-breakup-label">02/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup">
		<div class="paymnt-breakup-label">03/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup even">
		<div class="paymnt-breakup-label">04/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup">
		<div class="paymnt-breakup-label">05/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup even">
		<div class="paymnt-breakup-label">06/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup">
		<div class="paymnt-breakup-label">07/10/2018</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup even">
		<div class="paymnt-breakup-label">08/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup">
		<div class="paymnt-breakup-label">09/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup even">
		<div class="paymnt-breakup-label">10/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
	<div class="paymnt-breakup">
		<div class="paymnt-breakup-label">11/10/2019</div>
		<div class="paymnt-breakup-value">$200</div>
	</div>
	
</div>