.update-img-section
{
    width: 80px;
    height: 75px;
    background: #F0F0F0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    display: inline-block;
    margin-left: 20px;
}

.update-img-section:nth-child(1) {
    margin-left: 0px;
  }

.action-button{
    width: 100px;
    height: 80px;
    display: inline-block;
    float: right;
  }

.flip-y {
    width: 29px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #A5A5A5;
    padding-top: 3px;
    padding-left: 3px;
}

.flip-y-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}


.flip-x {
    width: 29px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #A5A5A5;
    padding-top: 3px;
    padding-left: 3px;
}

.flip-x-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}

.rotate {
    width: 29px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #A5A5A5;
    padding-top: 3px;
    padding-left: 3px;
}

.rotate-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}


.crop {
    width: 29px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #A5A5A5;
    padding-top: 3px;
    padding-left: 3px;
}

.crop-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}


.red-eye {
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #A5A5A5;
    padding-top: 3px;
    padding-left: 3px;
}

.red-eye-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}


.undo {
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #A5A5A5;
    padding-top: 3px;
    padding-left: 3px;
}

.undo-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}



.redo {
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    color: #A5A5A5;
    padding-top: 3px;
    padding-left: 3px;
}

.redo-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}

.action-section
{
    width: 89px;
    height: 20px;
    background: #F0F0F0;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 10px;
}

.action-section:nth-child(1) {
    margin-top: 0px;
  }

  .save-action
  {
    float: left;
    width: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #646464;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 3px;
  }

  .save-action-icon{
    float: right;
    width: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .restart-action
  {
    float: left;
    width: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #646464;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .restart-action-icon{
    float: right;
    width: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
  }

  .cancel-action
  {
    float: left;
    width: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    color: #646464;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .cancel-action-icon{
    float: right;
    width: 18px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
  }
  
  .img-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
	  height: 500px;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }
  .closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .cropView{
    height: auto;
    width: auto;
    max-height: 320px;
    max-width: 250px;
    bottom: 140px;
    position: fixed;
    left: 20px;
  }
  