.dropdown-list {
	position: relative;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #A5A5A5;
	/* padding: 20px; */
	max-width: 100%;
	cursor: pointer;
}

.dropdown-list-label {
	text-align: center;
	/*font-weight: bold;*/
	font-size: 18px;
	color: #56CCF2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown-list-icon {
	/* position: absolute;
    right: 12px;
    top: 18px; */
    color: #63CCF2;
	width: 30px;
	height: 30px;
	font-size: 30px;
	
}

.panelClass {
	padding: 0 !important;
}

.vh_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dd-btn-cont {
	border-left: 1px solid #A5A5A5;
	cursor: pointer;
}